.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.main-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.main-menu__title {
  margin: 0;
  text-align: center;
}

.main-menu__description {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.main-menu__description-text {
  max-width: 200px;
}

.main-menu__complexity-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.main-menu__complexity-link {
  display: block;
  text-decoration: none;
}

.main-menu__complexity-tutorial {
  display: block;
  color: #fff;
  transition: all .2s ease-in-out;
}

.main-menu__complexity-tutorial:hover {
  opacity: .8;
}